{% extends "general-layout.html" %}

{% block title %}Welcome to Spark{% endblock %}

{% block content %}
  {% include 'partials/general-header.html' %}

  <section id="intro-content" class="wrap">
    <div id="intro-info">
      <h1>Medical marijuana made convenient</h1>
      <p>Mail-order cannabis from your favourite producer directly through text messages.</p>
      <a href="#" class="standard-button large turquoise">Sign up for early access</a>
    </div>
    <div id="intro-phone">

    </div>
  </section>

  <div class="wrap">
    <p>In development:</p>

    <div>
      <a href="{{ url_for('DispensaryLogin') }}">Dispensary Login</a>
    </div>

    <div>
      <a href="{{ url_for('NewDispensary') }}">New Dispensary</a>
    </div>
  </div>
{% endblock %}
