.standard-button {
  display: inline-block;
  padding: 5px 30px;
  color: #fff;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 60px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  box-sizing: border-box;
  box-shadow: rgba(50, 65, 86, 0.2) 0 7px 28px;
  border: none;
  cursor: pointer;
  transition: all 0.07s ease-in;

  &:focus {
    outline: none;
  }

  &.turquoise {
    background-color: #42e1d3;

    &:hover,
    &:focus {
      background-color: darken(#42e1d3, 8%);
    }
  }
}
