.standalone-form-page {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;

  @include breakpoint-min(small) {
    margin-top: 50px;
  }

  form {
    text-align: left;
  }

  form > div {
    margin-bottom: 15px;
  }

  form > div label {
    margin-bottom: 5px;
  }

  form > div label,
  form > div input,
  form > div textarea {
    display: block;
    width: 100%;
  }
}
