.wrap-large {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.wrap-medium {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.vertical-pad {
  padding-left: 15px;
  padding-right: 15px;

  @include breakpoint-min(medium) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
