body,
html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  font-family: $primary-font;
  font-size: 15px;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
