body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: $primary-font;
  color: $slate-black;
  background-color: #fff;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

.wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 920px;
  padding: 0 7%;

  &.slim {
    max-width: 550px;
  }
}

.emblem {
  display: inline-block;
  text-decoration: none;
  background: url('../static/images/logo-emblem.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.emblem.large {
  width: 59px;
  height: 75px;
}

.emblem.medium {
  width: 40px;
  height: 51px;
}

.emblem.small {
  width: 24px;
  height: 30px;
}
