/* Fonts */
$primary-font: "Rubik", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Colors */
$slate-black: #5d5d5d;
$aqua-blue: #33abda;
$pumpkin-orange: #df7532;
$fern-green: #81be62;

/* Timings */
$bounce-bezier: cubic-bezier(0.32, 1.695, 0.355, 1.135);
