#site-header {
  *zoom: 1; }
  #site-header:before, #site-header:after {
    display: table;
    content: ""; }
    #site-header:after {
      clear: both; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

  body {
    margin: 0; }

    article, aside, footer, header, nav, section {
      display: block; }

      h1 {
        font-size: 2em;
        margin: 0.67em 0; }

        figcaption, figure, main {
          display: block; }

          figure {
            margin: 1em 40px; }

            hr {
              box-sizing: content-box;
              height: 0;
              overflow: visible; }

              pre {
                font-family: monospace, monospace;
                font-size: 1em; }

                a {
                  background-color: transparent;
                  -webkit-text-decoration-skip: objects; }

                  a:active, a:hover {
                    outline-width: 0; }

                    abbr[title] {
                      border-bottom: none;
                      text-decoration: underline;
                      text-decoration: underline dotted; }

                      b, strong {
                        font-weight: inherit; }

                        b, strong {
                          font-weight: bolder; }

                          code, kbd, samp {
                            font-family: monospace, monospace;
                            font-size: 1em; }

                            dfn {
                              font-style: italic; }

                              mark {
                                background-color: #ff0;
                                color: #000; }

                                small {
                                  font-size: 80%; }

                                  sub, sup {
                                    font-size: 75%;
                                    line-height: 0;
                                    position: relative;
                                    vertical-align: baseline; }

                                    sub {
                                      bottom: -0.25em; }

                                      sup {
                                        top: -0.5em; }

                                        audio, video {
                                          display: inline-block; }

                                          audio:not([controls]) {
                                            display: none;
                                            height: 0; }

                                            img {
                                              border-style: none; }

                                              svg:not(:root) {
                                                overflow: hidden; }

                                                button, input, optgroup, select, textarea {
                                                  font-family: sans-serif;
                                                  font-size: 100%;
                                                  line-height: 1.15;
                                                  margin: 0; }

                                                  button, input {
                                                    overflow: visible; }

                                                    button, select {
                                                      text-transform: none; }

                                                      button, html [type="button"], [type="reset"], [type="submit"] {
                                                        -webkit-appearance: button; }

                                                        button::-moz-focus-inner, [type="button"]::-moz-focus-inner,
                                                        [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
                                                          border-style: none;
                                                          padding: 0; }

                                                          button:-moz-focusring, [type="button"]:-moz-focusring,
                                                          [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
                                                            outline: 1px dotted ButtonText; }

                                                            fieldset {
                                                              border: 1px solid #c0c0c0;
                                                              margin: 0 2px;
                                                              padding: 0.35em 0.625em 0.75em; }

                                                              legend {
                                                                box-sizing: border-box;
                                                                color: inherit;
                                                                display: table;
                                                                max-width: 100%;
                                                                padding: 0;
                                                                white-space: normal; }

                                                                progress {
                                                                  display: inline-block;
                                                                  vertical-align: baseline; }

                                                                  textarea {
                                                                    overflow: auto; }

                                                                    [type="checkbox"], [type="radio"] {
                                                                      box-sizing: border-box;
                                                                      padding: 0; }

                                                                      [type="number"]::-webkit-inner-spin-button,
                                                                      [type="number"]::-webkit-outer-spin-button {
                                                                        height: auto; }

                                                                        [type="search"] {
                                                                          -webkit-appearance: textfield;
                                                                          outline-offset: -2px; }

                                                                          [type="search"]::-webkit-search-cancel-button,
                                                                          [type="search"]::-webkit-search-decoration {
                                                                            -webkit-appearance: none; }

                                                                            ::-webkit-file-upload-button {
                                                                              -webkit-appearance: button;
                                                                              font: inherit; }

                                                                              details, menu {
                                                                                display: block; }

                                                                                summary {
                                                                                  display: list-item; }

                                                                                  canvas {
                                                                                    display: inline-block; }

                                                                                    template {
                                                                                      display: none; }

                                                                                      [hidden] {
                                                                                        display: none; }

                                                                                        body, html {
                                                                                          width: 100%;
                                                                                          height: 100%; }

                                                                                          body {
                                                                                            font-size: 16px;
                                                                                            font-weight: 400;
                                                                                            font-family: "Rubik", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
                                                                                            color: #324156;
                                                                                            background-color: #fff;
                                                                                            -moz-font-smoothing: antialiased;
                                                                                            -webkit-font-smoothing: antialiased; }

                                                                                            .wrap {
                                                                                              margin: 0 auto;
                                                                                              max-width: 920px;
                                                                                              padding: 0 7%; }

                                                                                              .emblem {
                                                                                                display: inline-block;
                                                                                                text-decoration: none;
                                                                                                background: url('../images/logo-emblem.png');
                                                                                                background-position: center center;
                                                                                                background-size: contain;
                                                                                                background-repeat: no-repeat; }

                                                                                                .emblem.large {
                                                                                                  width: 59px;
                                                                                                  height: 75px; }

                                                                                                  .emblem.medium {
                                                                                                    width: 40px;
                                                                                                    height: 51px; }

                                                                                                    .emblem.small {
                                                                                                      width: 24px;
                                                                                                      height: 30px; }

                                                                                                      .standard-button {
                                                                                                        display: inline-block;
                                                                                                        padding: 5px 30px;
                                                                                                        color: #fff;
                                                                                                        font-size: 13px;
                                                                                                        letter-spacing: 1px;
                                                                                                        font-weight: 400;
                                                                                                        line-height: 60px;
                                                                                                        text-transform: uppercase;
                                                                                                        text-decoration: none;
                                                                                                        white-space: nowrap;
                                                                                                        box-sizing: border-box;
                                                                                                        box-shadow: rgba(50, 65, 86, 0.2) 0 7px 28px;
                                                                                                        border: none;
                                                                                                        cursor: pointer;
                                                                                                        transition: all 0.07s ease-in; }
                                                                                                        .standard-button:focus {
                                                                                                          outline: none; }
                                                                                                          .standard-button.turquoise {
                                                                                                            background-color: #42e1d3; }
                                                                                                            .standard-button.turquoise:hover, .standard-button.turquoise:focus {
                                                                                                              background-color: #22d8c8; }

#site-header {
  margin-top: 10px; }
  @media (max-width: 479px) {
    #site-header {
      text-align: center;   }
}
    @media (min-width: 480px) {
      #site-header {
        margin-top: 20px;   }
}

@keyframes wordmark-fade {
  0% {
    opacity: 0;
    transform: translateX(-8px);   }
    100% {
      opacity: 1;
      transform: translateX(0);   }
}

#header-logo {
  position: relative;
  display: inline-block;
  width: 105px;
  height: 30px; }
  #header-logo:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 30px;
    display: inline-block;
    text-decoration: none;
    background-image: url('../static/images/logo-emblem.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat; }
    #header-logo:after {
      content: '';
      position: absolute;
      top: 3px;
      left: 30px;
      width: 73px;
      height: 23px;
      display: inline-block;
      background-image: url('../static/images/logo-wordmark.png');
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      opacity: 0;
      animation: wordmark-fade 0.6s cubic-bezier(0.75, -0.5, 0, 1.75) forwards;
      animation-delay: 0.5s; }
      #header-logo h1 {
        display: block;
        margin: 0;
        font-size: 0; }
        @media (min-width: 480px) {
          #header-logo {
            float: left;
            margin-top: 8px;   }
}

#header-nav {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  @media (min-width: 480px) {
    #header-nav {
      float: right;
      margin-top: 13px;   }
}
    @media (max-width: 479px) {
      #header-nav {
        margin-top: 20px;   }
}
      #header-nav li {
        display: inline;
        margin: 0 10px; }
        #header-nav a {
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 300;
          letter-spacing: 0.15em;
          text-decoration: none;
          color: #324156;
          transition: color 0.1s ease-in; }
          #header-nav a:hover {
            color: #42e1d3; }

#intro-info {
  width: 60%; }
  #intro-info h1 {
    font-size: 43px; }

#intro-phone {
  width: 40%; }
