html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

  body {
    margin: 0; }

    article, aside, footer, header, nav, section {
      display: block; }

      h1 {
        font-size: 2em;
        margin: 0.67em 0; }

        figcaption, figure, main {
          display: block; }

          figure {
            margin: 1em 40px; }

            hr {
              box-sizing: content-box;
              height: 0;
              overflow: visible; }

              pre {
                font-family: monospace, monospace;
                font-size: 1em; }

                a {
                  background-color: transparent;
                  -webkit-text-decoration-skip: objects; }

                  a:active, a:hover {
                    outline-width: 0; }

                    abbr[title] {
                      border-bottom: none;
                      text-decoration: underline;
                      text-decoration: underline dotted; }

                      b, strong {
                        font-weight: inherit; }

                        b, strong {
                          font-weight: bolder; }

                          code, kbd, samp {
                            font-family: monospace, monospace;
                            font-size: 1em; }

                            dfn {
                              font-style: italic; }

                              mark {
                                background-color: #ff0;
                                color: #000; }

                                small {
                                  font-size: 80%; }

                                  sub, sup {
                                    font-size: 75%;
                                    line-height: 0;
                                    position: relative;
                                    vertical-align: baseline; }

                                    sub {
                                      bottom: -0.25em; }

                                      sup {
                                        top: -0.5em; }

                                        audio, video {
                                          display: inline-block; }

                                          audio:not([controls]) {
                                            display: none;
                                            height: 0; }

                                            img {
                                              border-style: none; }

                                              svg:not(:root) {
                                                overflow: hidden; }

                                                button, input, optgroup, select, textarea {
                                                  font-family: sans-serif;
                                                  font-size: 100%;
                                                  line-height: 1.15;
                                                  margin: 0; }

                                                  button, input {
                                                    overflow: visible; }

                                                    button, select {
                                                      text-transform: none; }

                                                      button, html [type="button"], [type="reset"], [type="submit"] {
                                                        -webkit-appearance: button; }

                                                        button::-moz-focus-inner, [type="button"]::-moz-focus-inner,
                                                        [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
                                                          border-style: none;
                                                          padding: 0; }

                                                          button:-moz-focusring, [type="button"]:-moz-focusring,
                                                          [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
                                                            outline: 1px dotted ButtonText; }

                                                            fieldset {
                                                              border: 1px solid #c0c0c0;
                                                              margin: 0 2px;
                                                              padding: 0.35em 0.625em 0.75em; }

                                                              legend {
                                                                box-sizing: border-box;
                                                                color: inherit;
                                                                display: table;
                                                                max-width: 100%;
                                                                padding: 0;
                                                                white-space: normal; }

                                                                progress {
                                                                  display: inline-block;
                                                                  vertical-align: baseline; }

                                                                  textarea {
                                                                    overflow: auto; }

                                                                    [type="checkbox"], [type="radio"] {
                                                                      box-sizing: border-box;
                                                                      padding: 0; }

                                                                      [type="number"]::-webkit-inner-spin-button,
                                                                      [type="number"]::-webkit-outer-spin-button {
                                                                        height: auto; }

                                                                        [type="search"] {
                                                                          -webkit-appearance: textfield;
                                                                          outline-offset: -2px; }

                                                                          [type="search"]::-webkit-search-cancel-button,
                                                                          [type="search"]::-webkit-search-decoration {
                                                                            -webkit-appearance: none; }

                                                                            ::-webkit-file-upload-button {
                                                                              -webkit-appearance: button;
                                                                              font: inherit; }

                                                                              details, menu {
                                                                                display: block; }

                                                                                summary {
                                                                                  display: list-item; }

                                                                                  canvas {
                                                                                    display: inline-block; }

                                                                                    template {
                                                                                      display: none; }

                                                                                      [hidden] {
                                                                                        display: none; }

                                                                                        body, html {
                                                                                          width: 100%;
                                                                                          height: 100%; }

                                                                                          body {
                                                                                            display: flex;
                                                                                            font-family: "Rubik", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
                                                                                            font-size: 15px;
                                                                                            -moz-font-smoothing: antialiased;
                                                                                            -webkit-font-smoothing: antialiased; }

                                                                                            #container {
                                                                                              padding: 20px; }

                                                                                              .wrap-large {
                                                                                                max-width: 1000px;
                                                                                                margin-left: auto;
                                                                                                margin-right: auto; }

                                                                                                .wrap-medium {
                                                                                                  max-width: 700px;
                                                                                                  margin-left: auto;
                                                                                                  margin-right: auto; }

                                                                                                  .vertical-pad {
                                                                                                    padding-left: 15px;
                                                                                                    padding-right: 15px; }
                                                                                                    @media (min-width: 768px) {
                                                                                                      .vertical-pad {
                                                                                                        padding-left: 20px;
                                                                                                        padding-right: 20px;   }
}

.standard-button {
  position: relative;
  padding: 0 19px;
  height: 45px;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  font-family: inherit;
  letter-spacing: 1px;
  color: #fff;
  border: none;
  border-radius: 3px;
  transition: all 0.07s ease-in;
  cursor: pointer; }
  .standard-button:focus {
    outline: none; }
    .standard-button[class*="stroke"] {
      box-sizing: border-box; }
      .standard-button.black {
        background-color: #5d5d5d; }
        .standard-button.black:hover, .standard-button.black:focus {
          background-color: #494949; }
  .standard-button.black-stroke {
    background-color: #fff;
    border: 1px solid #5d5d5d;
    color: #5d5d5d; }
    .standard-button.black-stroke:hover, .standard-button.black-stroke:focus {
      background-color: rgba(93, 93, 93, 0.05); }
  .standard-button.green {
    background-color: #81be62; }
    .standard-button.green:hover, .standard-button.green:focus {
      background-color: #6baf48; }
  .standard-button.green-stroke {
    background-color: #fff;
    border: 1px solid #81be62;
    color: #81be62; }
    .standard-button.green-stroke:hover, .standard-button.green-stroke:focus {
      background-color: rgba(129, 190, 98, 0.1); }
  .standard-button.blue {
    background-color: #33abda; }
    .standard-button.blue:hover, .standard-button.blue:focus {
      background-color: #2395c1; }
  .standard-button.blue-stroke {
    background-color: #fff;
    border: 1px solid #33abda;
    color: #33abda; }
    .standard-button.blue-stroke:hover, .standard-button.blue-stroke:focus {
      background-color: rgba(51, 171, 218, 0.1); }
  .standard-button.orange {
    background-color: #df7532; }
    .standard-button.orange:hover, .standard-button.orange:focus {
      background-color: #c9611f; }
  .standard-button.orange-stroke {
    background-color: #fff;
    border: 1px solid #df7532;
    color: #df7532; }
    .standard-button.orange-stroke:hover, .standard-button.orange-stroke:focus {
      background-color: rgba(223, 117, 50, 0.1); }

.standard-text-field, .standard-text-area {
  border: none;
  background: #f2f2f2;
  border-radius: 3px;
  font-family: inherit;
  transition: background-color 0.1s ease-in;
  color: #5d5d5d;
  box-sizing: border-box; }
  .standard-text-field:focus, .standard-text-area:focus {
    outline: none;
    background-color: #eee; }
    .standard-text-field.placeholder, .standard-text-area.placeholder {
      color: rgba(93, 93, 93, 0.3);
      transition: color 0.1s ease-in; }
      .standard-text-field.placeholder:focus, .standard-text-area.placeholder:focus {
        color: rgba(93, 93, 93, 0.7); }
  .standard-text-field:-moz-placeholder, .standard-text-area:-moz-placeholder {
    color: rgba(93, 93, 93, 0.3);
    transition: color 0.1s ease-in; }
    .standard-text-field:-moz-placeholder:focus,
    .standard-text-area:-moz-placeholder:focus {
      color: rgba(93, 93, 93, 0.7); }
  .standard-text-field::-moz-placeholder, .standard-text-area::-moz-placeholder {
    color: rgba(93, 93, 93, 0.3);
    transition: color 0.1s ease-in; }
    .standard-text-field::-moz-placeholder:focus,
    .standard-text-area::-moz-placeholder:focus {
      color: rgba(93, 93, 93, 0.7); }
  .standard-text-field::-webkit-input-placeholder,
  .standard-text-area::-webkit-input-placeholder {
    color: rgba(93, 93, 93, 0.3);
    transition: color 0.1s ease-in; }
    .standard-text-field::-webkit-input-placeholder:focus,
    .standard-text-area::-webkit-input-placeholder:focus {
      color: rgba(93, 93, 93, 0.7); }
  .standard-text-field.code, .standard-text-area.code {
    font-family: "Source Sans Code", Monaco, monospace;
    letter-spacing: -0.02em;
    font-size: 13px; }

.standard-text-field {
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
  height: 45px; }

  .standard-text-area {
    padding: 13px;
    box-sizing: border-box;
    font-size: 14px;
    resize: vertical;
    line-height: 21px; }

    form > div {
      margin-bottom: 10px; }
      form > div label {
        width: 140px;
        display: inline-block;
        vertical-align: middle; }
        form > div input, form > div textarea {
          width: 360px;
          display: inline-block;
          vertical-align: middle; }

.rich-text {
  line-height: 1.3;
  color: #5d5d5d; }
  .rich-text > * {
    margin: 10px 0; }
    .rich-text > *:first-child {
      margin-top: 0; }
      .rich-text > *:last-child {
        margin-bottom: 0; }
  .rich-text a {
    color: inherit;
    word-break: break-word; }
    .rich-text ul, .rich-text ol {
      padding-left: 15px; }
      .rich-text img, .rich-text iframe, .rich-text object {
        max-width: 100%;
        height: auto; }
        .rich-text hr {
          height: 1px;
          margin: 20px 0;
          border: none;
          background-color: rgba(93, 93, 93, 0.5); }
