<!DOCTYPE html>

<html>
<head>
  <title>404 (not found)</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <style>
    body,
    html {
      padding: 0;
      margin: 0;
    }

    body {
      font-family: 'helvetica neue', helvetica, arial, sans-serif;
      font-size: 14px;
      background-color: #fafafa;
    }

    .error-header {
      max-width: 500px;
      margin: 25px auto;
      text-align: center;
    }

    .error-header h1 {
      font-size: 50px;
    }
  </style>
  </style>
</head>

<body>
  <div class="error-header">
    <h1>404</h1>
    <p>Whatever you were looking for isn't here.</p>
  </div>
</body>
</html>
