<!DOCTYPE html>

<html>
  <head>
    {% block head %}
      <meta charset="utf-8">

      <title>{% block title %}Spark{% endblock %}</title>
      <meta name="description" content="{% block description %}Order cannabis from your favourite dispensary directly through text messages.{% endblock %}">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
      <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet">

      {% assets "dispensary_scss" %}
        <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}">
      {% endassets %}

      {% assets "dispensary_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
      {% endassets %}
    {% endblock %}
  </head>

  <body>
    {% include 'partials/dispensary-header.html' %}

    <div class="wrap">
      {% include 'partials/flash.html' %}
    </div>

    {% block content %}{% endblock %}
  </body>
</html>
