<!DOCTYPE html>

<html>
  <head>
    {% block head %}
      <title>{% block title %}Spark{% endblock %}</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">

      <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet">

      {% assets "general_scss" %}
        <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}">
      {% endassets %}

      {% assets "general_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
      {% endassets %}
    {% endblock %}
  </head>

  <body>
    <div id="container">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
