<!DOCTYPE html>

<html>
  <head>
    {% block head %}
      <title>{% block title %}Spark{% endblock %}</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">

      {% assets "site_scss" %}
        <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}">
      {% endassets %}

      {% assets "site_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
      {% endassets %}
    {% endblock %}
  </head>

  <body>
    {% block content %}{% endblock %}
  </body>
</html>
