<html>
   <body>
	   <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
	<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" /> 

	<!-- Inline CSS based on choices in "Settings" tab -->
	<style>.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: white !important;} .asteriskField{color: red;}</style>

	<!-- HTML Form (wrapped in a .bootstrap-iso div) -->
	<div class="bootstrap-iso">
	 <div class="container-fluid">
	  <div class="row">
	   <div class="col-md-6 col-sm-6 col-xs-12">
	    <form action="/PatientResult" method="POST">
	     <div class="form-group ">
	      <label class="control-label" for="name">
	       Patient Name
	      </label>
	      <input class="form-control" id="patientname" name="patientname" type="text"/>
	     </div>
	     <div class="form-group ">
	      <label class="control-label requiredField" for="name">
	       Dispensary Name
	       <span class="asteriskField">
	        *
	       </span>
	      </label>
	      <input class="form-control" id="dispensaryname" name="dispensaryname" type="text"/>
	     </div>
	     <div class="form-group ">
	      <label class="control-label requiredField" for="tel">
	       Telephone Number
	       <span class="asteriskField">
	        *
	       </span>
	      </label>
	      <input class="form-control" id="tel" name="tel" type="text"/>
	     </div>
	     <div class="form-group ">
	      <label class="control-label requiredField" for="subject">
	       Address
	       <span class="asteriskField">
	        *
	       </span>
	      </label>
	      <input class="form-control" id="addr" name="addr" type="text"/>
	     </div>
	     <div class="form-group">
	      <div>
	       <button class="btn btn-primary " name="submit" type="submit">
	        Submit
	       </button>
	      </div>
	     </div>
	    </form>
	   </div>
	  </div>
	 </div>
	</div>
   </body>
</html>
