{% extends "dispensary-layout.html" %}

{% block title %}Your Patients | Spark{% endblock %}

{% block content %}
  <div class="wrap">
    <h1 class="page-title">Your Patients</h1>

    <table id="patients-list">
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Approve</th>
        <th>Opted-In</th>
      </tr>

      {% for patient in patients %}
        <tr>
          <td>{{ patient[0] }}</td>
          <td>{{ patient[1] }}</td>
          <td>
            {% if patient[2] == True %}
              <span>Approved!</span>
            {% else %}
              <form action="{{ url_for('ApprovePatient') }}" method="post">
                <input type="hidden" name="phone" value="{{ patient[1] }}" />
                <button name="submit" type="submit">Approve</button>
              </form>
            {% endif %}
          </td>
          <td>{{ patient[3] }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
