{% extends "general-layout.html" %}

{% block title %}Join | Spark{% endblock %}

{% block content %}
  <h1>Join as a Patient</h1>

  <form action="{{ url_for('CreatePatient') }}" method="post">
    <input type="hidden" name="dispensary_name" value="{{ dispensary['name'] }}" />

    <div>
      <label for="contact_name">Patient Name</label>
      <input id="contact_name" name="contact_name" type="text" class="standard-text-field" />
    </div>

    <div>
      <label for="phone">Telephone</label>
      <input id="phone" name="phone" type="tel" class="standard-text-field" />
    </div>

    <div>
      <label for="address">Address</label>
      <textarea id="address" name="address" class="standard-text-area"></textarea>
    </div>

    <button name="submit" type="submit" class="standard-button green">Join</button>
  </form>
{% endblock %}
