<html>
   <script>
      function Approve(tableNode, phNumber){
         var xhr = new XMLHttpRequest();
         xhr.open("POST", "http://localhost:5000/OnPressApprove", true);
         xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");
         xhr.send(phNumber);
         var parentTR=tableNode.parentNode.parentNode;
         parentTR.parentNode.removeChild(parentTR);
      }
   </script>
   <body>
      <table>
         <tr><th>Name</th><th>PhoneNumber</th><th>Approve</th>
         {% for index in result %}
            <tr><td>{{index[0]}}</td><td>{{index[1]}}</td><td><button onclick="Approve(this, {{index[1]}})" class="approve">Approve</button></td></tr>
         {% endfor %}</td>
      </table>
   </body>
</html>
